/* Swiper Styles */
.mySwiper {
  width: 100%;
  height: auto;
  padding: 10px;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.swiper-slide img {
  display: block;
  width: 90%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.swiper-button-next,
.swiper-button-prev {
  color: #3d1edd;
}

.swiper-pagination-bullet-active {
  background-color: #3d1edd;
}